<pa-navbar></pa-navbar>

<div class="col-md-6">
  <h2 class="text-center">Add Role</h2>
  <form (ngSubmit)="onSave(role)" #roleForm="ngForm">
    <div class="form-group">
      <label for="name">Name (
        <b style="color: red">*</b>): </label>
      <input placeholder="Name" name="name" class="form-control" id="name" [(ngModel)]="role.name" #name="ngModel" required>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input  placeholder="Description" name="description" class="form-control" id="description" [(ngModel)]="role.description" #description="ngModel">
    </div>

    <div class="form-group">
      <label for="lastName">Status:</label>
      <input placeholder="Status" name="status" class="form-control" id="status" [(ngModel)]="role.status" #status="ngModel">
    </div>
    <button class="btn btn-success" type="submit" [disabled]="roleForm.form.invalid" >Update</button>
    &nbsp;
    <button class="btn" (click)="onCancel()">Cancel</button>
  </form>
</div>
