<pa-navbar></pa-navbar>

<div class="col-md-6">
  <h2> Roles Details</h2>
  <button class="btn btn-danger" (click)="addRole()"> Add Role</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Description</th>      
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of roles">
      <td class="hidden"></td>
      <td>{{role.name}}</td>
      <td>{{role.description}}</td>
      <td>{{role.status}}</td>
      <td><button class="btn btn-danger" (click)="deleteRole(role)"> Delete</button>
        <button class="btn btn-danger" (click)="editRole(role)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>